@using MVCSpoticord.Models;
@{
    ViewBag.Title = "Index";
}

@if (Session["Imagen"] != null)
{
    <div style="height:5vw;width:20%;display:flex;flex-wrap:wrap;align-content:center;justify-content:space-around;margin-top:1vw;border: solid black 0.1vw;padding-top: 1.5%;padding-bottom: 1%;">
            <img src="../imagenesUsuarios/@Session["Imagen"]" style="height:3vw;margin:1%;" />
            <p style="height:100%;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;margin: 1%;">@Html.ActionLink(Session["Username"].ToString(), "Perfilusuario", "Usuario")</p>
    </div>
}

<h2>Usuarios</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario Usuario in ViewBag.ListaDeUsuarios)
        {
            <tr>
                <th scope="row">@Usuario.ID</th>
                <td>@Usuario.Nombre</td>
                <td>@Usuario.Apellido</td>
                <td>@Usuario.Username</td>
                <td><img src="../imagenesUsuarios/@Usuario.Imagen" width="50" height="50" /></td>
            </tr>
        }
    </tbody>
</table>